*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    background-color: #0b0700;
    background-image: url(https://wallpapercave.com/wp/wp3614483.jpg);
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:wheat;
    background-size: cover;
    flex-wrap: wrap;
   
}
header{
    /* min-height: 250px; */
    /* padding:20px; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
header img{
    max-height: 175px;
    display: flex;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a{
    color:rgb(255, 183, 0);
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color:red;
}

.primero{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    padding-bottom: 150px;

}
#filtrar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

#filtroPelis{
    color:rgb(255, 183, 0);
    text-transform: uppercase;
    text-decoration: none;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
}

#filtroPelis:hover{
    color: black;
    background-color: rgb(255, 183, 0);
}
#filtroPelis.activado{
    color: black;
    background-color: rgb(255, 183, 0);
}
#filtroPre{
    color:rgb(255, 183, 0);
    text-transform: uppercase;
    text-decoration: none;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
}

#filtroPre:hover{
    color: black;
    background-color: rgb(255, 183, 0);
}
#filtroPre.activado{
    color: black;
    background-color: rgb(255, 183, 0);
}

.segundo{
    /* justify-content: space-around; */
    display: flex;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/474x/40/c7/12/40c712e5f3833bc38dbe1213da27069e.jpg);
    margin: 65px 400px;
    scroll-behavior: auto;
    max-height: 650px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    align-items: center;
  
}

.tercero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(https://i.pinimg.com/474x/40/c7/12/40c712e5f3833bc38dbe1213da27069e.jpg);
    margin-left: 15px;
    margin-right: 15px;

}


div img{
    height: auto;
    width: 75%; 
}

.img-ult{
    padding-bottom: 25px;
}

.parrafos{
    padding: 50px 150px;
    text-align: justify;
    /* margin-bottom: 10px; */
    font-size: 24px;
}


footer{
    justify-content: space-around;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    /* padding-bottom: 15px; */
    display: flex;
    padding-top: 25px;
    background-image: url(https://st4.depositphotos.com/15225220/19659/v/450/depositphotos_196593848-stock-illustration-dark-side-space-weapon-abstract.jpg);
}


@keyframes show{
    from{
        opacity:0;
        scale:25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}


.segundo img, .segundo p{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: both;
}

#peliculas {
    display: grid;
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
}
  
 
#peliculas img {
    max-width: 100%;
    min-width:75%;
    max-height:auto;
    min-height: auto; 
}
#peliculas .flip-card-inner{
    margin: 25px 0;
}
#precuelas {
    display: grid;
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
}
  
 
#precuelas img {
    max-width: 100%;
    min-width:75%;
    max-height:auto;
    min-height: auto; 
}
#precuelas .flip-card-inner{
    margin: 25px 0;
}

.sinPre{

}

.titulo{
    margin-bottom: 15px;
}
.anio{
    margin-top: 10px;
    margin-bottom: 10px;
}

.about{
    align-self: flex-start;
}
.about, .contact-form {
    justify-content: space-between;
    padding: 0 20px;
    
}

.about h2 {
    margin-bottom: 10px;
}

.contact-form{
    margin-bottom: 10px;
}

.text-input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-input:focus {
    outline: none;
    border-color: #007bff;
}

textarea {
    height: 150px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
    /* position:relative; */
    width: 100%;
    bottom: 0;
    left: 0;
}

.flip .sinPel{
    background-color: black;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    justify-content: center

}
.flip img{
   display:none;
}
.flip .titulo{
    display:none;
}
.flip .anio{
    display:none;
}
.flip .director{
    display:none;
}

.flip-card-back{
    display:none;
}
.flip .flip-card-back{
    display:block;
    width: 100%;
    height: 100%;
    text-align: justify;
    justify-content: space-around;
    transform: none;
    transition: none;

}
.flip-card-front:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.flipPre .sinPre{
    background-color: black;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    justify-content: center

}
.flipPre img{
   display:none;
}
.flipPre .titulo{
    display:none;
}
.flipPre .anio{
    display:none;
}
.flipPre .director{
    display:none;
}

.flipPre .flip-card-back{
    display:block;
    width: auto;
    height: auto;
    text-align: justify;
    justify-content: space-around;
    transform: none;
    transition: none;

}